html {
	font-family: Lato;
	color: white;
	overflow: hidden;
}

body {
	background-color: #00C3FB;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

#project-body {
	background-color: #424242;
}

#name-header {
	text-align: center;
	font-size: 80px;
	padding-left: 50px;
	padding-top: 135px;
}

h2 {
	font-size: 40px;
	padding-left: 30%;
}

img {
	height: 400px;
	vertical-align: baseline;
}

.body-hide {
    overflow: hidden;
    float: left;
    vertical-align: baseline;
}

.bleed-bottom {
    height: 100px;
    margin: 0px 40px -9999px 20px;    
    padding: 0px 10px 10250px 20px;
}

a, a:visited, a:active {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #FFFF00;
}

#contact img {
   border: 3px solid transparent;
   width: 30px;
   height: auto;
   margin: 5px;
   vertical-align: middle;
}

#linked-in img {
	width: 40px;
	height: auto;
}

#contact {
	margin-left: 77%;
	list-style-type: none;
}

#contact li {
	display: inline;
}

#contact img:hover { 
	margin-top: -3px; 
}

.fade { 
	-webkit-transition: all .2s linear; 
	-o-transition: all .2s linear; 
	-moz-transition: all .2s linear; 
	transition: all .2s linear; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column .image img {
  margin-top: 8px;
  vertical-align: middle;
  height: 300px;
  width: auto;
}

.image {
	display: inline;
    position:relative;
    width:400px;
    height:400px;
}   

.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:after {
    content:'\A';
    width:100%; 
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}

.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.image:hover:after, .image:hover:before {
    opacity:1;
}

