html {
	font-family: Lato;
	color: white;
}

#home-html, #home-body {
  overflow: hidden;
}

body {
	background-color: #00C3FB;
	margin: 0;
  padding: 0;
}

.learn-head {
  font-size: 25px;
  margin-left: 150px;
  color: #BCED91;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted black;
  cursor: pointer; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  position: absolute;
  margin-left: 10px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: pointer;
}

#project-body {
	background-color: #4C4C4C;
}

#fun-stuff-body {
  background-color: #f49242;
}

.header {
  text-align: center;
}

#project-head, #fun-stuff-head {
  display: inline-block;
  margin-left: 20%;
}

#teach-head {
  display: inline-block;
  margin-left: 22%;
  margin-right: 10%;
}

#flower {
  height: 550px;
  width: auto;
}

#stats-head {
  margin-top: 100px;
}

.list-header {
  text-indent: -2em;
  margin-bottom: -10px;
}

#teach-body .list-header {
  text-indent: 0;
}

.image-figure {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 65px;
}

.in-line-image {
  border: 5px #272626 solid;
  width: 650px;
  height: auto;
}

button {
  background-color: #00C3FB;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#home-btn {
  margin-left: 10%;
  position: relative;
  display: inline;
}

#name-header {
	text-align: center;
	font-size: 80px;
	padding-left: 50px;
	padding-top: 135px;
}

#index-list {
	font-size: 40px;
	padding-left: 30%;
}

img {
	height: 400px;
	vertical-align: baseline;
}

.body-hide {
  overflow: hidden;
  float: left;
  vertical-align: baseline;
}

.bleed-bottom {
  height: 100px;
  margin: 0px 40px -9999px 20px;    
  padding: 0px 10px 10250px 20px;
}

a, a:visited, a:active {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #FFFF00;
  cursor: pointer;
}

#resumehead {
  text-align: center;
}

.no-js #loader { 
  display: none;  
}

.js #loader { 
  display: block; 
  position: absolute; 
  left: 100px; 
  top: 0; 
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(img/simple-pre-loader/images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

#resume {
  max-width: 100%;
  width: 800px;
  height: 1025px;
  border: 10px solid #414447;
  margin: auto;
}

#contact img {
  border: 3px solid transparent;
  width: 30px;
  height: auto;
  margin: 5px;
  vertical-align: middle;
}

#linked-in img {
	width: 40px;
	height: auto;
}

#contact {
	margin-left: 75%;
	list-style-type: none;
}

#contact li {
	display: inline;
}

.hidden {
  display: none;
}

#contact img:hover { 
	margin-top: -3px; 
}

.fade { 
	-webkit-transition: all .2s linear; 
	-o-transition: all .2s linear; 
	-moz-transition: all .2s linear; 
	transition: all .2s linear; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column .image-container img {
  margin-top: 8px;
  vertical-align: middle;
  height: 250px;
  width: auto;
  border-color: #000000;
  border-width: 3.5px;
  border-style: solid;
  border-radius: 2px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 255px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.image-container:hover .overlay {
  opacity: 0.85;
}

.code {
  text-align: center;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#teach-body {
  background-color: #501e8c;
}

#git-body {
  background-color: #2E8B57;
}

p, .learn-links, .learn-list {
  font-size: 20px;
  margin-left: 150px;
  margin-right: 150px;
}