html {
	font-family: Lato;
	color: white;
}

#home-html, #home-body {
  overflow: hidden;
}

body {
	background-color: #00C3FB;
	margin: 0;
  padding: 0;
}

#project-body {
	background-color: #4C4C4C;
}

#fun-stuff-body {
  background-color: #f49242;
}

.header {
  text-align: center;
}

#project-head, #fun-stuff-head {
  display: inline-block;
  margin-left: 20%;
}

#teach-head {
  display: inline-block;
  margin-left: 22%;
  margin-right: 10%;
}

#flower {
  height: 550px;
  width: auto;
}

#stats-head {
  margin-top: 100px;
}

.stats {
  text-indent: -2em;
  margin-bottom: -10px;
}

.image-figure {
  text-align: center;
}

.in-line-image {
  border: 5px #272626 solid;
  width: 600px;
  height: auto;
}

button {
  background-color: #00C3FB;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#home-btn {
  margin-left: 10%;
  position: relative;
  display: inline;
}

#name-header {
	text-align: center;
	font-size: 80px;
	padding-left: 50px;
	padding-top: 135px;
}

h2 {
	font-size: 40px;
	padding-left: 30%;
}

img {
	height: 400px;
	vertical-align: baseline;
}

.body-hide {
  overflow: hidden;
  float: left;
  vertical-align: baseline;
}

.bleed-bottom {
  height: 100px;
  margin: 0px 40px -9999px 20px;    
  padding: 0px 10px 10250px 20px;
}

a, a:visited, a:active {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #FFFF00;
}

#contact img {
  border: 3px solid transparent;
  width: 30px;
  height: auto;
  margin: 5px;
  vertical-align: middle;
}

#linked-in img {
	width: 40px;
	height: auto;
}

#contact {
	margin-left: 77%;
	list-style-type: none;
}

#contact li {
	display: inline;
}

#contact img:hover { 
	margin-top: -3px; 
}

.fade { 
	-webkit-transition: all .2s linear; 
	-o-transition: all .2s linear; 
	-moz-transition: all .2s linear; 
	transition: all .2s linear; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  text-align: center;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column .image-container img {
  margin-top: 8px;
  vertical-align: middle;
  height: 250px;
  width: auto;
  border-color: #000000;
  border-width: 3.5px;
  border-style: solid;
  border-radius: 2px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 255px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.image-container:hover .overlay {
  opacity: 0.85;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#teach-body {
  background-color: #501e8c;
}

p, #learn-links {
  font-size: 20px;
  margin-left: 150px;
  margin-right: 150px;
}